/**
 * endoflife.date
 * The endoflife.date v0 API is currently deprecated, please [use the endoflife.date v1 API](https://endoflife.date/docs/api/v1/).
 *
 * The version of the OpenAPI document: 0.0.1
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Cycle
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object DefaultApi {

  def apply(baseUrl: String = "https://endoflife.date") = new DefaultApi(baseUrl)
}

class DefaultApi(baseUrl: String) {

  /**
   * Return a list of all products. Each of these can be used for the other API endpoints.
   * 
   * Expected answers:
   *   code 200 : Seq[String] (OK)
   */
  def getApiAllJson(): ApiRequest[Seq[String]] =
    ApiRequest[Seq[String]](ApiMethods.GET, baseUrl, "/api/all.json", "application/json")
      .withSuccessResponse[Seq[String]](200)
      

  /**
   * Gets details of a single cycle.
   * 
   * Expected answers:
   *   code 200 : Cycle (OK)
   * 
   * @param product Product URL as per the canonical URL on the endofife.date website.
   * @param cycle Release Cycle for which the details must be fetched. Any slash character in the cycle name will be replaced with dashes. For example FreeBSD's releng/14.0 becomes releng-14.0.
   */
  def getApiProductCycleJson(product: String, cycle: String): ApiRequest[Cycle] =
    ApiRequest[Cycle](ApiMethods.GET, baseUrl, "/api/{product}/{cycle}.json", "application/json")
      .withPathParam("product", product)
      .withPathParam("cycle", cycle)
      .withSuccessResponse[Cycle](200)
      

  /**
   * Get EoL dates of all cycles of a given product.
   * 
   * Expected answers:
   *   code 200 : Seq[Cycle] (OK)
   * 
   * @param product Product URL as per the canonical URL on the endofife.date website.
   */
  def getApiProductJson(product: String): ApiRequest[Seq[Cycle]] =
    ApiRequest[Seq[Cycle]](ApiMethods.GET, baseUrl, "/api/{product}.json", "application/json")
      .withPathParam("product", product)
      .withSuccessResponse[Seq[Cycle]](200)
      



}

