# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule EndoflifeDate.Api.Default do
  @moduledoc """
  API calls for all endpoints tagged `Default`.
  """

  alias EndoflifeDate.Connection
  import EndoflifeDate.RequestBuilder

  @doc """
  All Products
  Return a list of all products. Each of these can be used for the other API endpoints.

  ### Parameters

  - `connection` (EndoflifeDate.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%String.t{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_api_all_json(Tesla.Env.client, keyword()) :: {:ok, [String.t]} | {:error, Tesla.Env.t}
  def get_api_all_json(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/all.json")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, []}
    ])
  end

  @doc """
  Single cycle details
  Gets details of a single cycle.

  ### Parameters

  - `connection` (EndoflifeDate.Connection): Connection to server
  - `product` (String.t): Product URL as per the canonical URL on the endofife.date website.
  - `cycle` (String.t): Release Cycle for which the details must be fetched. Any slash character in the cycle name will be replaced with dashes. For example FreeBSD's releng/14.0 becomes releng-14.0.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, EndoflifeDate.Model.Cycle.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_api_product_cycle_json(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, EndoflifeDate.Model.Cycle.t} | {:error, Tesla.Env.t}
  def get_api_product_cycle_json(connection, product, cycle, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/#{product}/#{cycle}.json")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, EndoflifeDate.Model.Cycle}
    ])
  end

  @doc """
  Get All Details
  Get EoL dates of all cycles of a given product.

  ### Parameters

  - `connection` (EndoflifeDate.Connection): Connection to server
  - `product` (String.t): Product URL as per the canonical URL on the endofife.date website.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%Cycle{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_api_product_json(Tesla.Env.client, String.t, keyword()) :: {:ok, [EndoflifeDate.Model.Cycle.t]} | {:error, Tesla.Env.t}
  def get_api_product_json(connection, product, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/#{product}.json")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, EndoflifeDate.Model.Cycle}
    ])
  end
end
