=begin
#endoflife.date

#The endoflife.date v0 API is currently deprecated, please [use the endoflife.date v1 API](https://endoflife.date/docs/api/v1/).

The version of the OpenAPI document: 0.0.1
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module EndOfLifeDateApiClient
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # All Products
    # Return a list of all products. Each of these can be used for the other API endpoints.
    # @param [Hash] opts the optional parameters
    # @return [Array<String>]
    def get_api_all_json(opts = {})
      data, _status_code, _headers = get_api_all_json_with_http_info(opts)
      data
    end

    # All Products
    # Return a list of all products. Each of these can be used for the other API endpoints.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>, Integer, Hash)>] Array<String> data, response status code and response headers
    def get_api_all_json_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_api_all_json ...'
      end
      # resource path
      local_var_path = '/api/all.json'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<String>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_api_all_json",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_api_all_json\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Single cycle details
    # Gets details of a single cycle.
    # @param product [String] Product URL as per the canonical URL on the endofife.date website.
    # @param cycle [String] Release Cycle for which the details must be fetched. Any slash character in the cycle name will be replaced with dashes. For example FreeBSD&#39;s releng/14.0 becomes releng-14.0.
    # @param [Hash] opts the optional parameters
    # @return [Cycle]
    def get_api_product_cycle_json(product, cycle, opts = {})
      data, _status_code, _headers = get_api_product_cycle_json_with_http_info(product, cycle, opts)
      data
    end

    # Single cycle details
    # Gets details of a single cycle.
    # @param product [String] Product URL as per the canonical URL on the endofife.date website.
    # @param cycle [String] Release Cycle for which the details must be fetched. Any slash character in the cycle name will be replaced with dashes. For example FreeBSD&#39;s releng/14.0 becomes releng-14.0.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Cycle, Integer, Hash)>] Cycle data, response status code and response headers
    def get_api_product_cycle_json_with_http_info(product, cycle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_api_product_cycle_json ...'
      end
      # verify the required parameter 'product' is set
      if @api_client.config.client_side_validation && product.nil?
        fail ArgumentError, "Missing the required parameter 'product' when calling DefaultApi.get_api_product_cycle_json"
      end
      # verify the required parameter 'cycle' is set
      if @api_client.config.client_side_validation && cycle.nil?
        fail ArgumentError, "Missing the required parameter 'cycle' when calling DefaultApi.get_api_product_cycle_json"
      end
      # resource path
      local_var_path = '/api/{product}/{cycle}.json'.sub('{product}', CGI.escape(product.to_s)).sub('{cycle}', CGI.escape(cycle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Cycle'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_api_product_cycle_json",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_api_product_cycle_json\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get All Details
    # Get EoL dates of all cycles of a given product.
    # @param product [String] Product URL as per the canonical URL on the endofife.date website.
    # @param [Hash] opts the optional parameters
    # @return [Array<Cycle>]
    def get_api_product_json(product, opts = {})
      data, _status_code, _headers = get_api_product_json_with_http_info(product, opts)
      data
    end

    # Get All Details
    # Get EoL dates of all cycles of a given product.
    # @param product [String] Product URL as per the canonical URL on the endofife.date website.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Cycle>, Integer, Hash)>] Array<Cycle> data, response status code and response headers
    def get_api_product_json_with_http_info(product, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_api_product_json ...'
      end
      # verify the required parameter 'product' is set
      if @api_client.config.client_side_validation && product.nil?
        fail ArgumentError, "Missing the required parameter 'product' when calling DefaultApi.get_api_product_json"
      end
      # resource path
      local_var_path = '/api/{product}.json'.sub('{product}', CGI.escape(product.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Cycle>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_api_product_json",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_api_product_json\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
